In [ ]:
HIV model smiller&kgold

In [15]:
# Configure Jupyter so figures appear in the notebook
%matplotlib inline

# Configure Jupyter to display the assigned value after an assignment
%config InteractiveShell.ast_node_interactivity='last_expr_or_assign'

# import functions from the modsim.py module
from modsim import *

In [28]:
R = 200
L = 1 
V = 1
E = 1
stocks = State(R = R,
                L = L,
                V = V,
                E = E,
                t_0 =0,
                t_end = 120)

R        200
L          1
V          1
E          1
t_0        0
t_end    120
dtype: int64

In [29]:
g = 1.36
u = .00136
t = .2 
B = .00027
p = .1
a = .036
s = 2
d = .33
pi = 100
    
flows = System(Rin = g*t,
                R2E = (1-p)*B*R*V,
                R2L = p*B*R*V,
                Rout = u*R,
                L2E = a*L,
                Lout = u*L,
                Eout = d*E,
                Vin = pi*E,
                Vout = s*V
             )

Rin       0.27200
R2E       0.04860
R2L       0.00540
Rout      0.27200
L2E       0.03600
Lout      0.00136
Eout      0.33000
Vin     100.00000
Vout      2.00000
dtype: float64

In [35]:
def update_func(state, t, system):
    deltaR = Rin - rout - R2L - R2E
    deltaL = R2L - Lout -L2E
    deltaE = R2E + L2E - Eout
    deltaV = Vin - Vout
    
    R += deltaR
    L +=deltaL
    E += deltaE
    V += deltaV
    
    return R,L,E,V
    print(R,L,E,V)

In [31]:
def run_func(update_func, state, system):
    
    for t in linrange(t_0, t_end):
        state[t+1] = update_func(state[t], t, system)
    return state

In [32]:
run_func(update_func, stocks, flows)

NameError: name 't_0' is not defined